<div class="javascript">  
  <div class="w3-card-4 ccz_card">
    <header class="w3-container w3-blue ccz-home-header-card">
      <h1 class="card_header" id="home_Header1">Header1</h1>
      <h1 class="card_header" id="home_Header2">Header2</h1>
      <h1 class="card_header" id="home_Header3">Header3</h1>
    </header>

    <div class="w3-container">
      <p class="home_paragraph">Lorem ipsum 1 1 1</p>
      <p class="home_paragraph">Lorem ipsum 2 2 2</p>
      <p class="home_paragraph">Lorem ipsum 3 3 3</p>
    </div>

    <footer class="w3-container w3-blue">
      <h5> a</h5>
    </footer>
  </div>

  <div>
  	<div class="w3-content ccz_content">
  		<%= image_tag("ccz-1.JPG", class: "mySlides")%>
  		<%= image_tag("ccz-2.png", class: "mySlides")%>
  		<%= image_tag("ccz-3.jpeg", class: "mySlides")%>

   		<div class="w3-row-padding w3-section">
   			<div class="w3-col s4">
   				<%= image_tag( "ccz-1.JPG", class: "demo w3-opacity w3-hover-opacity-off", id:"cc1_image") %>
   			</div>
   			<div class="w3-col s4">
   				<%= image_tag( "ccz-2.png", class: "demo w3-opacity w3-hover-opacity-off", id:"cc2_image") %>
   			</div>
   			<div class="w3-col s4">
   				<%= image_tag( "ccz-3.jpeg", class: "demo w3-opacity w3-hover-opacity-off",id:"cc3_image") %>
   			</div>
   		</div>
  	</div>
  </div>
</div>