<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div>
	<div class="ccz_content" style="max-width:120px">
		<%= image_tag("ccz-1.JPG", class: "ccz_img")%>
		<%= image_tag("ccz-2.png", class: "ccz_img")%>
		<%= image_tag("ccz-3.jpeg", class: "ccz_img")%>
 		<div class="ccz_row_padding ccz-section">
 			<div class="ccz_col s4">
 				<%= image_tag( "ccz-1.JPG", class: "demo ccz_opacity") %>
 			</div>
 			<div class="ccz_col s4">
 				<%= image_tag( "ccz-2.png", class: "demo ccz_opacity") %>
 			</div>
 		</div>
	</div>
</div>